body {
  margin: 0;
  overflow: hidden;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
}

img {
  pointer-events: none;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 999;
}

.service-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.service-slide img {
  width: 200px;
  height: 200px;
}

.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-align {
  display: flex;
  align-items: center;
}

.column-flex-100 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  align-items: stretch;
}

.row-spaced {
  display: flex;
  justify-content: space-between;
}

.service-carousel {
  width: 100%;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;
}
.services .service {
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 49%;
  flex: 0 0 49%;
  border-radius: 30px;
}
.services .service p {
  white-space: pre;
}
.services .service img {
  margin-right: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.MuiBottomNavigation-root {
  box-shadow: 0 -5px 4px rgba(110, 113, 145, 0.09);
}

.bottom-navigation {
  z-index: 1300;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.auto-width {
  width: auto !important;
}

.Carousel-indicator-11 {
  transition: all 0.4s ease-out;
  color: #e5f3f9 !important;
}

.Carousel-active-12 {
  color: #1aa3e9 !important;
}

.sm {
  font-size: 14px;
}

.md {
  font-size: 22px;
}

.lg {
  font-size: 32px;
}

.profile-screen .name {
  font-weight: 800;
}
.profile-screen .email {
  font-size: 0.6em;
}

.themed-list {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.themed-list li.Mui-selected,
.themed-list li.Mui-selected .material-icons {
  background: none !important;
  color: #1aa3e9;
}
.themed-list li.Mui-selected .list,
.themed-list li.Mui-selected .material-icons .list {
  background: #e5f3f9;
}
.themed-list li:active .list button span {
  color: #1aa3e9;
}
.themed-list .list {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}
.themed-list .list button {
  padding: 5px 20px;
}
.themed-list .list button span {
  font-weight: 500;
}
.themed-list .list button .MuiTouchRipple-child {
  background: #1aa3e9;
}

.icon-tabs button {
  background: #e5f3f9;
  border-radius: 20px;
  margin: 0 10px;
}
.icon-tabs button:first-of-type {
  margin-left: 30px;
}
.icon-tabs button.Mui-selected {
  border: 2px solid;
}
.icon-tabs .MuiTabs-indicator {
  display: none;
}

.inherit-all {
  width: inherit;
  height: inherit;
}

.menu-item-wrapper {
  outline: none;
}
.menu-item-wrapper:first-of-type > div {
  margin-left: 50px;
}

.merchant-banner {
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 0;
}
.merchant-banner::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}
.merchant-banner:not(.no-image)::after {
  transform: scaleY(2);
  background: #000;
}
.merchant-banner.no-image::after {
  background: #e5f3f9 url("/static/images/logo/horizontal.png") no-repeat center;
  background-size: 200px;
  -webkit-animation: height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1 normal forwards;
          animation: height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1 normal forwards;
  height: 100vh;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

@-webkit-keyframes height {
  from {
    height: 100vh;
  }
  to {
    height: 100%;
  }
}

@keyframes height {
  from {
    height: 100vh;
  }
  to {
    height: 100%;
  }
}
.merchant-content-header {
  margin-top: 175px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.merchant-content-view,
.merchant-content-header {
  background: #fff;
}

.merchant-content-view {
  margin-top: -50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.merchant-content-view > div:nth-of-type(4) {
  overflow-x: hidden;
  height: 100%;
  overflow: auto;
}

.merchant-logo {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-60px);
  width: 135px;
}

.search-input {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 999;
  display: flex;
  background: #fff;
  align-items: center;
}
.search-input .MuiTextField-root {
  margin: 0 !important;
}
.search-input button {
  width: auto !important;
  height: auto !important;
  margin-left: 7px;
  border-radius: 16px !important;
}

.main-search-input {
  position: relative !important;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  align-items: center;
}
.main-search-input .MuiTextField-root {
  margin: 0 !important;
}
.main-search-input button {
  width: auto !important;
  height: auto !important;
  margin-left: 7px;
  border-radius: 16px !important;
}

.fixed {
  position: fixed;
  z-index: 3;
}
.fixed.left {
  left: 14px;
  top: 14px;
}
.fixed.right {
  right: 14px;
  top: 14px;
}

.logo-container {
  background: linear-gradient(30deg, #1aa3e9, #e5f3f9);
}

.MuiSkeleton-text {
  transform: scale(1) !important;
}

.floating-cart-icon {
  position: absolute;
  bottom: 24px;
  right: 24px;
  width: 70px;
  height: 70px;
}
.floating-cart-icon,
.floating-cart-icon button {
  border-radius: 50% !important;
  background: #e5f3f9 !important;
  color: #1aa3e9 !important;
}
.floating-cart-icon button {
  width: inherit;
  height: inherit;
  box-shadow: 0 8px 11px rgba(121, 121, 121, 0.14);
}

.swipeable-products > div > div {
  padding-bottom: 40px;
}

.address-detail {
  padding: 14px;
  border: 2px dashed transparent;
  background: rgba(0, 0, 0, 0.048);
  border-radius: 10px;
  margin-top: 13px;
}
.address-detail.default {
  background: #1aa3e9;
}
.address-detail.default p,
.address-detail.default button,
.address-detail.default span {
  color: #fff;
}
.address-detail.default div > span {
  margin-right: 14px;
}
.address-detail.Mui-selected {
  background: #e5f3f9 !important;
  border-color: #1aa3e9;
}
.address-detail.Mui-selected p {
  font-weight: 600;
}
.address-detail, .address-detail > div {
  width: 100%;
}

.price {
  position: relative;
  padding-left: 30px;
}
.price h6 {
  position: relative;
  z-index: 2;
  background: #1aa3e9;
  display: inline-block;
  color: #fff;
  padding-right: 15px;
}
.price::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("/static/images/price-bg.svg") no-repeat;
  width: 30px;
  background-size: auto 100%;
}

.product.small {
  display: flex;
  align-items: center;
}
.product.small img {
  width: 30%;
  margin-right: 7px;
}
.product.small > div {
  width: 60%;
}
.product.small h5 {
  font-size: 1em;
}

.cart-counter {
  position: absolute;
  bottom: -10px;
  right: -10px;
  padding: 10px;
  border-radius: 10px;
  background: #1aa3e9;
  color: #fff;
  transform: scale(0.6);
}

.product-archive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.product-archive .product {
  margin: 0 10px;
  margin-bottom: 24px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px 8px 16px;
  text-align: center;
  padding-bottom: 16px;
  border-radius: 16px;
  box-shadow: 0px 12px 24px -4px rgba(110, 113, 145, 0.12);
}
.product-archive .product p {
  font-size: 0.7rem;
  margin-bottom: 7px;
}
@media all and (max-width: 800px) {
  .product-archive {
    justify-content: space-around;
  }
  .product-archive .product {
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
  }
}
.product-archive .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-archive .image img, .product-archive .image {
  width: 100%;
}
.product-archive .image img {
  padding: 9px;
}

.sale-price {
  position: absolute;
  top: 0;
  left: 0;
}
.sale-price p {
  display: block;
  line-height: 21px;
  height: 20px;
  background: #1aa3e9;
  margin-left: -10px;
  padding-right: 10px;
  color: #fff;
  z-index: 2;
}
.sale-price::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -20px;
  top: 0;
  width: 20px;
  height: 40px;
  background: url("/static/images/sale-bg.svg");
  background-size: cover;
}

.mechanic-included {
  position: absolute;
  top: 0;
  right: 0;
}
.mechanic-included p {
  display: block;
  line-height: 21px;
  height: 20px;
  margin-right: -10px;
  padding-left: 10px;
  color: #fff;
  z-index: 2;
  left: 40px;
}
.mechanic-included::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 0;
  width: 30px;
  height: 40px;
  background: url("/static/images/mechanic-bg.svg");
  background-size: cover;
}

.carousel-pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}
.carousel-pagination ul {
  list-style-type: none;
  margin: 0;
  height: 20px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.carousel-pagination li {
  filter: drop-shadow(0 2px 2px rgba(76, 77, 92, 0.12));
  cursor: pointer;
}
.carousel-pagination .disc {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.carousel-pagination .disc > div {
  width: 10px;
  height: 10px;
  background: #1aa3e9;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.6s ease-out;
}
.carousel-pagination li:not(.disc) {
  position: relative;
  margin: 0 2px;
  width: 10px;
}
.carousel-pagination li:not(.disc)::after {
  width: 10px;
  transition: width 0.6s ease-out;
}
.carousel-pagination li:not(.disc).active::after {
  width: 0;
}
.carousel-pagination li:not(.disc)::after {
  content: "";
  position: absolute;
  right: 0;
  border-radius: 9px;
  top: 7.5px;
  height: 4px;
  background: #fff;
}

.bottom-navigation + div {
  margin-bottom: 50px !important;
}

.MuiIcon-colorPrimary {
  color: #1aa3e9 !important;
}

.center-pin {
  transform: scale(3);
  position: relative;
  transition: all 0.5s cubic-bezier(0.32, 0.38, 0, 0.65);
  transform-origin: bottom;
}
.center-pin.panning {
  transform: scale(4);
}
.center-pin.panning::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -10px;
  width: 30px;
  height: 10px;
  opacity: 0.5;
  border-radius: 50%;
  background: radial-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.place-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 10px;
  margin-top: 30px;
}
.place-search .MuiTextField-root.themed-input {
  margin-top: 0;
}
.place-search input {
  background: #fff;
  padding-right: 80px;
}
.place-search .clear {
  position: absolute;
  right: 10px;
  top: 5px;
}
.place-search .result {
  max-height: 60vh;
  overflow: auto;
  background: linear-gradient(rgba(255, 255, 255, 0.602), rgb(255, 255, 255));
  border: 1px solid grey;
  border-radius: 15px;
}
.place-search .result li {
  padding: 12px;
}
.place-search .result li p {
  font-weight: 500;
}

.save-place {
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-animation: slideup 0.4s ease-out 1;
          animation: slideup 0.4s ease-out 1;
}

.checkout-static-map {
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid #1aa3e9;
}

.merchant-details-banner {
  position: relative;
  background-size: cover !important;
}
.merchant-details-banner h1,
.merchant-details-banner h2,
.merchant-details-banner h3,
.merchant-details-banner h4,
.merchant-details-banner h5,
.merchant-details-banner h6,
.merchant-details-banner span {
  position: relative;
  z-index: 10;
  color: #fff;
}
.merchant-details-banner::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.3));
}
.merchant-details-banner img {
  background: #fff;
  border-radius: 7px;
}

.chip.pending {
  color: rgb(26, 163, 233);
  border: 1px solid rgb(26, 163, 233);
  background: none;
}
.chip.processing {
  color: rgb(166, 247, 135);
  border: 1px solid rgb(166, 247, 135);
  background: none;
}
.chip.cancelled {
  color: rgb(211, 65, 46);
  border: 1px solid rgb(211, 65, 46);
  background: none;
}

.PrivateTabIndicator-colorSecondary-13 {
  background-color: #1aa3e9 !important;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.chat-container .chat-static-map {
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid #1aa3e9;
}
.chat-container .chat-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 13px;
}
.chat-container .chat-controls .themed-input {
  width: 100%;
  margin: 0;
}
.chat-container .chat-content {
  overflow: auto;
  height: 100%;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0.246);
  padding-bottom: 20px;
}
.chat-container .message-container[data-show] .chat-details {
  height: 14px;
}
.chat-container .chat-details {
  transition: height 0.2s ease-out;
  height: 0;
  margin: 7px 0;
  overflow: hidden;
}
.chat-container .chat-details p {
  font-size: 12px;
}
.chat-container .chat-entry {
  margin-bottom: 30px;
  padding: 0 13px;
}
.chat-container .chat-entry.right {
  justify-content: flex-end;
}
.chat-container .chat-entry.left {
  justify-content: flex-start;
}
.chat-container .text-message {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.chat-container .text-message p {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  letter-spacing: 0px;
}
.chat-container .text-message .time {
  position: absolute;
  bottom: -20px;
  font-size: 10px;
}
.chat-container .text-message.left {
  margin-left: 14px;
  justify-content: flex-start;
}
.chat-container .text-message.left .message {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 17px 17px 17px 0px;
}
.chat-container .text-message.right {
  margin-right: 14px;
  justify-content: flex-end;
}
.chat-container .text-message.right .message {
  background: #1aa3e9;
  color: #fff;
  border-radius: 17px 17px 0px 17px;
}
.chat-container .text-message .message {
  padding: 7px 13px;
  max-width: 90%;
}
.chat-container .text-message .message p {
  word-break: break-word;
}

.unread-sign {
  width: 7px;
  height: 7px;
  background: red;
  margin-right: 13px;
  border-radius: 50%;
}

.MuiIconButton-colorPrimary {
  color: #1aa3e9 !important;
}

.dialog-provider ul button {
  font-size: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.dialog-provider ul button:last-of-type {
  border-color: transparent;
}

b.processing {
  color: rgb(166, 247, 135) !important;
}
b.cancelled {
  color: rgb(161, 161, 161);
}
b.received {
  color: #1aa3e9 !important;
}
b.pending {
  color: rgb(26, 163, 233) !important;
}
b.receiving {
  color: rgb(234, 172, 48) !important;
}

.order-item {
  border-left: 5px solid;
}
.order-item.processing {
  border-left-color: rgb(166, 247, 135) !important;
}
.order-item.cancelled {
  border-left-color: rgb(161, 161, 161);
}
.order-item.received {
  border-left-color: #1aa3e9 !important;
}
.order-item.pending {
  border-left-color: rgb(26, 163, 233) !important;
}
.order-item.receiving {
  border-left-color: rgb(234, 172, 48) !important;
}

.MuiBackdrop-root {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.sales-card {
  flex-wrap: wrap;
  margin-top: 20px;
}
.sales-card > div {
  margin: 20px 10px;
  flex: 1 1 300px;
  position: relative;
}
.sales-card .chart-reload {
  position: absolute;
  top: 0;
  right: 0;
}

.chart-icon {
  display: flex;
  z-index: 1;
  width: 80px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-top: -40px;
  margin-right: 14px;
}
.chart-icon.blue {
  background-color: rgb(26, 163, 233);
}
.chart-icon.green {
  background-color: rgb(166, 247, 135);
}
.chart-icon.primary {
  background-color: #1aa3e9;
}
.chart-icon.orange {
  background-color: rgb(234, 172, 48);
}
.chart-icon span {
  font-size: 2.5rem;
  color: #fff;
}

.canvasjs-chart-credit {
  display: none;
}

.receipt {
  border-collapse: collapse;
  width: 100%;
}
.receipt th {
  background-color: #1aa3e9;
  color: #fff;
  font-weight: bold;
}
.receipt th,
.receipt td {
  padding: 10px;
  border: 1px solid #e5f3f9;
  border-radius: 46px;
  border-right: 0;
  border-left: 0;
}
.receipt td:first-of-type {
  width: 65%;
}
.receipt td:last-of-type {
  border-left: 1px solid #e5f3f9;
}
.receipt td:last-of-type p {
  white-space: pre;
  font-weight: 700;
}
.receipt tr:last-of-type {
  background: #1aa3e9;
  color: #fff;
}
.receipt tr:last-of-type td {
  border-radius: 0px !important;
}

@-webkit-keyframes slideup {
  from {
    transform: translateY(75px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideup {
  from {
    transform: translateY(75px);
  }
  to {
    transform: translateY(0);
  }
}
@media (min-width: 1280px) {
  .MuiContainer-maxWidthLg {
    max-width: 810px !important;
  }
}
.sign-in-banner {
  background: url("/static/images/sign-in-img.png");
  background-size: contain;
  height: 100vh;
  width: 960;
  max-width: 1075;
  align-items: left;
}/*# sourceMappingURL=style.css.map */