$pale: #e5f3f9;
$primary: #1aa3e9;

$success: rgb(166, 247, 135);
$error: rgb(211, 65, 46);
$warning: rgb(234, 172, 48);
$neutral: rgb(26, 163, 233);

body {
  margin: 0;
  overflow: hidden;
}
* {
  user-select: none;
  box-sizing: border-box;
}
img {
  pointer-events: none;
}
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 999;
}

.service-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  img {
    width: 200px;
    height: 200px;
  }
}

.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-align {
  display: flex;
  align-items: center;
}
.column-flex-100 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  align-items: stretch;
}
.row-spaced {
  display: flex;
  justify-content: space-between;
}
.service-carousel {
  width: 100%;
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;
  .service {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 49%;
    flex: 0 0 49%;
    border-radius: 30px;
    p {
      white-space: pre;
    }
    img {
      margin-right: 5px;
      user-select: none;
      pointer-events: none;
    }
  }
}

.MuiBottomNavigation-root {
  box-shadow: 0 -5px 4px rgba(110, 113, 145, 0.09);
  // border-radius: 30px 30px 0 0;
}
.bottom-navigation {
  z-index: 1300;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.auto-width {
  width: auto !important;
}

.Carousel-indicator-11 {
  transition: all 0.4s ease-out;
  color: $pale !important;
}

.Carousel-active-12 {
  color: $primary !important;
}

.sm {
  font-size: 14px;
}
.md {
  font-size: 22px;
}
.lg {
  font-size: 32px;
}

.profile-screen {
  .name {
    font-weight: 800;
  }
  .email {
    font-size: 0.6em;
  }
}
.themed-list {
  padding-inline-start: 0;
  li.Mui-selected,
  li.Mui-selected .material-icons {
    background: none !important;
    color: $primary;
    .list {
      background: $pale;
    }
  }
  li:active {
    .list button span {
      color: $primary;
    }
  }
  .list {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    button {
      padding: 5px 20px;
      span {
        font-weight: 500;
      }
      .MuiTouchRipple-child {
        background: $primary;
      }
    }
  }
}

.icon-tabs {
  button {
    &:first-of-type {
      margin-left: 30px;
    }
    background: $pale;
    border-radius: 20px;
    margin: 0 10px;
  }
  button.Mui-selected {
    border: 2px solid;
  }
  .MuiTabs-indicator {
    display: none;
  }
}

.inherit-all {
  width: inherit;
  height: inherit;
}
.menu-item-wrapper {
  outline: none;
  &:first-of-type > div {
    margin-left: 50px;
  }
}

.merchant-banner {
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 0;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
  }
  &:not(.no-image)::after {
    transform: scaleY(2);
    background: #000;
  }
  &.no-image::after {
    background: $pale url("/static/images/logo/horizontal.png") no-repeat center;
    background-size: 200px;
    animation: height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1 normal forwards;
    height: 100vh;
    animation-delay: 300ms;
  }
}
@keyframes height {
  from {
    height: 100vh;
  }
  to {
    height: 100%;
  }
}
.merchant-content-header {
  margin-top: 175px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.merchant-content-view,
.merchant-content-header {
  background: #fff;
}
.merchant-content-view {
  margin-top: -50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  & > div:nth-of-type(4) {
    overflow-x: hidden;
    height: 100%;
    overflow: auto;
  }
}
.merchant-logo {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-60px);
  width: 135px;
}
.search-input {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 999;
  display: flex;
  background: #fff;
  align-items: center;
  & .MuiTextField-root {
    margin: 0 !important;
  }
  & button {
    width: auto !important;
    height: auto !important;
    margin-left: 7px;
    border-radius: 16px !important;
  }
}

.main-search-input {
  position: relative !important;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  & .MuiTextField-root {
    margin: 0 !important;
  }
  & button {
    width: auto !important;
    height: auto !important;
    margin-left: 7px;
    border-radius: 16px !important;
  }
}
.fixed {
  position: fixed;
  z-index: 3;
  &.left {
    left: 14px;
    top: 14px;
  }
  &.right {
    right: 14px;
    top: 14px;
  }
}

.logo-container {
  background: linear-gradient(30deg, $primary, $pale);
}

.MuiSkeleton-text {
  transform: scale(1) !important;
}

.floating-cart-icon {
  position: absolute;
  bottom: 24px;
  right: 24px;
  width: 70px;
  height: 70px;
  &,
  button {
    border-radius: 50% !important;
    background: $pale !important;
    color: $primary !important;
  }
  button {
    width: inherit;
    height: inherit;
    box-shadow: 0 8px 11px rgba(121, 121, 121, 0.14);
  }
}
.swipeable-products > div > div {
  padding-bottom: 40px;
}

.address-detail {
  padding: 14px;
  border: 2px dashed transparent;
  background: rgba(0, 0, 0, 0.048);
  border-radius: 10px;
  margin-top: 13px;
  &.default {
    background: $primary;
    p,
    button,
    span {
      color: #fff;
    }
    div > span {
      margin-right: 14px;
    }
  }
  &.Mui-selected {
    background: $pale !important;
    border-color: $primary;
    p {
      font-weight: 600;
    }
  }
  &,
  & > div {
    width: 100%;
  }
}

.price {
  position: relative;
  padding-left: 30px;
  & h6 {
    position: relative;
    z-index: 2;
    background: $primary;
    display: inline-block;
    color: #fff;
    padding-right: 15px;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("/static/images/price-bg.svg") no-repeat;
    width: 30px;
    background-size: auto 100%;
  }
}

.product {
  &.small {
    display: flex;
    align-items: center;
    & img {
      width: 30%;
      margin-right: 7px;
    }
    & > div {
      width: 60%;
    }
    & h5 {
      font-size: 1em;
    }
  }
}

.cart-counter {
  position: absolute;
  bottom: -10px;
  right: -10px;
  padding: 10px;
  border-radius: 10px;
  background: $primary;
  color: #fff;
  transform: scale(0.6);
}

.product-archive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  .product {
    margin: 0 10px;
    margin-bottom: 24px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px 8px 16px;
    text-align: center;
    padding-bottom: 16px;
    border-radius: 16px;
    box-shadow: 0px 12px 24px -4px rgba(110, 113, 145, 0.12);
    p {
      font-size: 0.7rem;
      margin-bottom: 7px;
    }
  }
  @media all and (max-width: 800px) {
    justify-content: space-around;
    & .product {
      width: 100%;
      margin: 0;
      margin-bottom: 24px;
    }
  }
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    & img,
    & {
      width: 100%;
    }
    & img {
      padding: 9px;
    }
  }
}

.merchant-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  .product {
    min-height: 300px;
    margin: 0 3px;
    width: 250px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px 8px 16px;
    text-align: center;
    padding-bottom: 16px;
    border-radius: 16px;
    box-shadow: 0px 12px 24px -4px rgba(110, 113, 145, 0.12);
    p {
      font-size: 0.7rem;
      margin-bottom: 7px;
    }
  }
  @media all and (max-width: 800px) {
    justify-content: space-around;
    & .product {
      width: 100%;
      margin: 0;
      margin-bottom: 24px;
    }
  }
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    & img,
    & {
      width: 100%;
    }
    & img {
      padding: 9px;
    }
  }
}

.sale-price {
  position: absolute;
  top: 0;
  left: 0;
  & p {
    display: block;
    line-height: 21px;
    height: 20px;
    background: #1aa3e9;
    margin-left: -10px;
    padding-right: 10px;
    color: #fff;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -20px;
    top: 0;
    width: 20px;
    height: 40px;
    background: url("/static/images/sale-bg.svg");
    background-size: cover;
  }
}

.mechanic-included {
  position: absolute;
  top: 0;
  right: 0;
  & p {
    display: block;
    line-height: 21px;
    height: 20px;
    margin-right: -10px;
    padding-left: 10px;
    color: #fff;
    z-index: 2;
    left: 40px;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 0;
    width: 30px;
    height: 40px;
    background: url("/static/images/mechanic-bg.svg");
    background-size: cover;
  }
}

.carousel-pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  ul {
    list-style-type: none;
    margin: 0;
    height: 20px;
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
  li {
    filter: drop-shadow(0 2px 2px rgba(76, 77, 92, 0.12));
    cursor: pointer;
  }
  .disc {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
  }
  .disc > div {
    width: 10px;
    height: 10px;
    background: #1aa3e9;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all 0.6s ease-out;
  }
  li:not(.disc) {
    position: relative;
    margin: 0 2px;
    width: 10px;
    &::after {
      width: 10px;
      transition: width 0.6s ease-out;
    }
    &.active::after {
      width: 0;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      border-radius: 9px;
      top: 7.5px;
      height: 4px;
      background: #fff;
    }
  }
}
.bottom-navigation + div {
  margin-bottom: 50px !important;
}
.MuiIcon-colorPrimary {
  color: #1aa3e9 !important;
}
.center-pin {
  transform: scale(3);
  position: relative;
  transition: all 0.5s cubic-bezier(0.32, 0.38, 0, 0.65);
  transform-origin: bottom;
  &.panning {
    transform: scale(4);
  }
  &.panning::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: -10px;
    width: 30px;
    height: 10px;
    opacity: 0.5;
    border-radius: 50%;
    background: radial-gradient(
      rgba(0, 0, 0, 0.842),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    );
  }
}
.place-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 10px;
  margin-top: 30px;
  .MuiTextField-root.themed-input {
    margin-top: 0;
  }
  input {
    background: #fff;
    padding-right: 80px;
  }
  .clear {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .result {
    max-height: 60vh;
    overflow: auto;
    background: linear-gradient(rgba(255, 255, 255, 0.602), rgb(255, 255, 255));
    border: 1px solid grey;
    border-radius: 15px;
    li {
      padding: 12px;
      p {
        font-weight: 500;
      }
    }
  }
}

.save-place {
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
  z-index: 100;
  animation: slideup 0.4s ease-out 1;
}

.checkout-static-map {
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid $primary;
}

.merchant-details-banner {
  position: relative;
  background-size: cover !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span {
    position: relative;
    z-index: 10;
    color: #fff;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.3));
  }
  img {
    background: #fff;
    border-radius: 7px;
  }
}

.chip {
  &.pending {
    color: $neutral;
    border: 1px solid $neutral;
    background: none;
  }
  &.processing {
    color: $success;
    border: 1px solid $success;
    background: none;
  }
  &.cancelled {
    color: $error;
    border: 1px solid $error;
    background: none;
  }
}
.PrivateTabIndicator-colorSecondary-13 {
  background-color: $primary !important;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  .chat-static-map {
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid $primary;
  }
  .chat-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 13px;
    .themed-input {
      width: 100%;
      margin: 0;
    }
  }
  .chat-content {
    overflow: auto;
    height: 100%;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.246);
    padding-bottom: 20px;
  }
  .message-container[data-show] {
    .chat-details {
      height: 14px;
    }
  }
  .chat-details {
    transition: height 0.2s ease-out;
    height: 0;
    margin: 7px 0;
    p {
      font-size: 12px;
    }
    overflow: hidden;
  }
  .chat-entry {
    margin-bottom: 30px;
    padding: 0 13px;
    &.right {
      justify-content: flex-end;
    }
    &.left {
      justify-content: flex-start;
    }
  }
  .text-message {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    p {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
      letter-spacing: 0px;
    }
    .time {
      position: absolute;
      bottom: -20px;
      font-size: 10px;
    }
    &.left {
      margin-left: 14px;
      justify-content: flex-start;
      .message {
        background: rgba(0, 0, 0, 0.03);
        border-radius: 17px 17px 17px 0px;
      }
    }
    &.right {
      margin-right: 14px;
      justify-content: flex-end;
      .message {
        background: $primary;
        color: #fff;
        border-radius: 17px 17px 0px 17px;
      }
    }
    .message {
      padding: 7px 13px;
      max-width: 90%;
      p {
        word-break: break-word;
      }
    }
  }
}
.unread-sign {
  width: 7px;
  height: 7px;
  background: red;
  margin-right: 13px;
  border-radius: 50%;
}
.MuiIconButton-colorPrimary {
  color: $primary !important;
}
.notification {
}

.dialog-provider {
  ul button {
    font-size: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    &:last-of-type {
      border-color: transparent;
    }
  }
}
b {
  &.processing {
    color: $success !important;
  }
  &.cancelled {
    color: rgb(161, 161, 161);
  }
  &.received {
    color: $primary !important;
  }
  &.pending {
    color: $neutral !important;
  }
  &.receiving {
    color: $warning !important;
  }
}
.order-item {
  border-left: 5px solid;
  &.processing {
    border-left-color: $success !important;
  }
  &.cancelled {
    border-left-color: rgb(161, 161, 161);
  }
  &.received {
    border-left-color: $primary !important;
  }
  &.pending {
    border-left-color: $neutral !important;
  }
  &.receiving {
    border-left-color: $warning !important;
  }
}
.MuiBackdrop-root {
  backdrop-filter: blur(3px);
}

.sales-card {
  flex-wrap: wrap;
  margin-top: 20px;
  & > div {
    margin: 20px 10px;
    flex: 1 1 300px;
    position: relative;
  }
  .chart-reload {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.chart-icon {
  display: flex;
  z-index: 1;
  width: 80px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-top: -40px;
  margin-right: 14px;
  &.blue {
    background-color: $neutral;
  }
  &.green {
    background-color: $success;
  }
  &.primary {
    background-color: $primary;
  }
  &.orange {
    background-color: $warning;
  }
  span {
    font-size: 2.5rem;
    color: #fff;
  }
}

.canvasjs-chart-credit {
  display: none;
}
.receipt {
  border-collapse: collapse;
  width: 100%;
  th {
    background-color: $primary;
    color: #fff;
    font-weight: bold;
  }
  th,
  td {
    padding: 10px;
    border: 1px solid $pale;
    border-radius: 46px;
    border-right: 0;
    border-left: 0;
  }
  td {
    &:first-of-type {
      width: 65%;
    }
    &:last-of-type {
      p {
        white-space: pre;
        font-weight: 700;
      }
      border-left: 1px solid $pale;
    }
  }
  tr {
    &:last-of-type {
      background: $primary;
      color: #fff;
      td {
        border-radius: 0px !important;
      }
    }
  }
}

@keyframes slideup {
  from {
    transform: translateY(75px);
  }
  to {
    transform: translateY(0);
  }
}

@media (min-width: 1280px) {
  .MuiContainer-maxWidthLg {
    max-width: 810px !important;
  }
}

.sign-in-banner {
  background: url("/static/images/sign-in-img.png");
  background-size: contain;
  height: 100vh;
  width: 960;
  max-width: 1075;
  align-items: left;
}
